body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 전역 컬러 선언 */
.gb-color-background-dark{
  background-color: #2c2827;
}

.gb-color-background-gray{
  background-color: gray;
}

.gb-color-background-white{
  background-color: #fff;
}

.gb-color-font-disabled{
  color: #ada19e;
}

.gb-color-font-bright{
  color: #fff;
}

.gb-color-font-dark{
  color: #2c2827;
}

.gb-color-font-blue{
  color:aqua;
}

.gb-border-radius{
  border-radius: 10px;
}

.gb-text-align-center{
  text-align: center;
}

.gb-text-align-left{
  text-align: left;
}

.gb-text-align-right{
  text-align: right;
}

.gb-display-flex{
  display: flex;
}